<main>

    <h1>{{title}}</h1>

    <input type="text" #newTodo/>

    <label for="priority">Scegli la priorità</label>

    <select id="priority" #priority>
        <option *ngFor="let option of options" value="{{option}}">{{option}}</option>ng
    </select>

    <button (click)="addTodo(newTodo.value, priority.value); newTodo.value= '' ">Add</button>

    <div class="subtitle">
        <h4 class="sub1">Da fare</h4>
        <h4 class="sub2">Priorità</h4>
    </div>

    <app-object *ngFor="let todo of todos" [todo]="todo"></app-object>


</main>